:root {
    --efblack: #010101FF;
    --efred: #F74843FF;
    --efwhite: #FEFEFEFF;
    --efgray: #1B1B1BFF;
}

body {
    margin: 0px;
    background-color: var(--efgray);
}

body div {
    margin: 8px;
    color: var(--efwhite);
}

/* Style */
#lhs > ul.lhs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0;
}
ul.lhs > li.lhs {
    display: inline-block;
    margin: 0px;
    padding: 0px 8px 0px 0px;
    font-size: medium;
}
ul.lhs > li.lhs > a {
    color: var(--efwhite);
    padding: 8px;
    text-decoration: none;
    display: block;
    border: 1px var(--efwhite) solid;
}
ul.lhs > li.lhs > a:hover {
    color: var(--efblack);
    background-color: var(--efwhite);
    border: 1px var(--efblack) solid;
}

/* Blocker */
#lhs > li.lhs:target ~ li.lhs:last-child, #lhs > li.lhs.ex {
    display: none;
}
#lhs > :last-child, #lhs > li.lhs:target {
    display: block;
}

/* Blockee */
#rhs > .rhs:target ~ .rhs:last-child, #rhs > .rhs {
    display: none;
}
#rhs > :last-child, #rhs > .rhs:target {
    display: block;
}
