:root {
    --efblack: #010101FF;
    --efred: #F74843FF;
    --efwhite: #FEFEFEFF;
    --efgray: #1B1B1BFF;
}

body {
    /* margin: 8px; */
    background-color: var(--efgray);
    color: var(--efred);
    font-size: 24px;
}

/* <ul> */
div#nav > ul {
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0;
}

/* <li> */
div#nav > ul > li {
    display: inline-block;
    width: 80px;
    box-sizing: border-box;
    font-size: 24px;
    margin-left: 15px;
}
div#nav > ul > li:first-child {
    margin-left: 95px;
}
div#nav > ul > li:last-child {
    position: absolute;
    left: 0px;
    margin-left: 0px;
}

/* <a> */
div#nav > ul > li > a {
    display: block;
    text-align: center;
    /* font-size: 16px; */
    color: var(--efwhite);
    background-color: var(--efblack);
    border: solid 1px var(--efwhite);
    text-decoration: none;
}
div#nav > ul > li > a,
div#nav > ul > li:target ~ li:last-child > a {
    color: var(--efwhite);
    border-color: var(--efwhite);
}
div#nav > ul > li:last-child > a,
div#nav > ul > li:target > a {
    color: var(--efred);
    border-color: var(--efred);
}


/* <div> */
div#nav > ul > li > div {
    position: absolute;
    margin-top: 15px;
    left: 0px;
    width: 640px;
    height: 480px;
    background-color: black;
}
div#nav > ul > li > div,
div#nav > ul > li:target ~ li:last-child > div {
    display: none;
}
div#nav > ul > li:last-child > div,
div#nav > ul > li:target > div {
    display: block;
}
